*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  color: black;
}

.navigation {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: sticky;
  padding: 0.5rem 0rem;
  background-color: #fff;
  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.navigation-menu {
  margin-left: auto;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
}
.navigation-menu  li {
  list-style-type: none;
  margin: 0 1rem;
}
.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
}

body {
  width: auto;
  background-image: url('https://images.unsplash.com/photo-1540747913346-19e32dc3e97e?auto=format&fit=crop&q=80&w=1905&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

.player > p {
  font-size: calc(0.5rem + .5vmin);
}

.new-form {
 padding: 15px;
  margin: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  flex: 1 0 21%;
  display: flex;
  flex-direction: column;
  /* max-width: 250px; */
  text-align: left;
}

.player-detail-card, .player-card {
  padding: 15px;
  margin: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  flex: 1 0 21%;
  display: grid;
  max-width: 250px;
  text-align: left;
}

.player-detail-card > button, .player-card > button {
  color: black;
  font-weight: bold;
  min-width: 150px;
}

.player-detail-card > button > a, .player-card > button > a {
  all: unset;
}

.player-image {
  height: 300px;
  margin-block-end: .23em;
  width: 220px;
}
.players-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
}

.rmv-btn {
  background-color: lightcoral;
  margin-top: .23em;
}

.details-btn {
  background-color: lightseagreen;
}

.back-btn {
background-color: lightskyblue;
}

.add-btn {
  margin-left: 10px;
  background-color: aquamarine;
}